.frame{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 245, 245); 
    
}
.frame .frame-htag{
   flex-grow: 0;
    margin: 0px 10px;
    color: rgb(14, 14, 14);
   font-family: Fira Sans;
   font-size: 32px;
   font-weight: 700;
   line-height: 38px;
   text-align: left;
}
.frame .sign-in{
    gap: 48;
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    margin: 0px 10px;
    padding: 15px 30px 15px 30px;

}
/* Hero CSS start */
#hero {
    width: 1280px; 
    margin: 80px auto; 
    padding: 80px 100px; 
    border-radius: 24px; 
    background: rgb(198, 228, 214); 
 
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 20px;
 }
 
.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 20px; 
}
.hero-content-description {
    margin-right: 20px; 
}

.hero-image {
    margin-left: 20px; 
}
.btn {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    font-size: 16px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 
    cursor: pointer; 
    color: rgb(255, 255, 255) 
  }
  
  /* .btn:hover {
    background-color: #2980b9; 
  } */


/* Card pillars CSS start */
.card-content{
    display: flex;
    align-items: center;
    justify-content: space-between; 

}
.card-content-description{
    box-sizing: border-box;
    width: 302px;
    height: 244px;
    border-radius: 16px;
    background: rgb(255, 255, 255)

}
.sub-title{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    width: 346.67px;
    height: 72px;
    display: flex;
   flex-direction: column;
    margin: 12px 0px;
}
/* Card Vision CSS start */
.card-Vision-content{
    display: flex;
    align-items: center;
    justify-content: space-between; 

}
.card-Vision-content-description {
    box-sizing: border-box;
    width: 410.67px;
    height: 325px;
    border-radius: 16px;
}
/* Specific styling for each card */
.card1 {
    background: rgba(84, 144, 245, 0.2);
}

.card2 {
    background: rgb(198, 228, 214);
}

.card3 {
    background: rgb(247, 235, 207);
}
.sub-title-Vision{
    rgba(14, 14, 14, 0.7)
    font-family: Fira Sans;
    width: 346.67px;
    height: 72px;
    display: flex;
   flex-direction: column;
    margin: 12px 0px;
}
.card-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    box-shadow: none;
}